.primeiraLista{
    color: green ;
}

# título{
    cor : rgb ( 216 , 191 , 216 );
}

.parágrafo{
    tamanho da fonte: 17px;
    font-family: monoespaçado;
    altura da linha: 1;
    borda: vermelho sólido de 15 px ;
   