*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    border: 1px solid black;
}

h1{
    justify-content: center;
    height: 32px;
    padding-top: 0px;
    padding-left: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    width: 425px;
    height: 212px;
    border: 1px solid black;
    margin: 22px 22px 22px 22px;
    padding: 10px;
    display: inline-block
}

.card-titulo{
    font-size: medium;
    margin: 0 0 10px 0;
    display: flex;
    align-items: center;
}

.card-imagem{
    width: 30%;
    display: inline;
    float: left;
    margin-top: 50px;
}

.card-text{
    display: inline;
    width: 65%;
    float: right;
    font-size: small;
    line-height: 15pt;
    margin-top: 30px;
   }